Repository EngineHub/WorldEdit, pull requests merged in 2022-02, with the labels that each got.

#2028 Fix Forge max height limit
  buildSrc/build.gradle.kts
  worldedit-forge/src/main/java/com/sk89q/worldedit/forge/ForgeWorld.java
Labels: type:bug, platform:forge, status:accepted

#2033 Move tinyurls to ehub.to
  worldedit-core/src/main/java/com/sk89q/worldedit/command/GenerationCommands.java
  worldedit-core/src/main/java/com/sk89q/worldedit/command/RegionCommands.java
Labels: status:accepted, type:tech-debt

#2039 Change the class source validator to use classloaders for detection.
  worldedit-bukkit/src/main/java/com/sk89q/bukkit/util/ClassSourceValidator.java
Labels: platform:bukkit-spigot-paper, status:accepted
